h1 {
   background-color: #ffffff
}

#f0 {
   background-color: #ee1125
}

#f1 {
   background-color: #ccaadd
}

#f2 {
   background-color: #fb8899
}

#f3 {
   background-color: #ffff00
}

#f4 {
   background-color: #aa11cc
}
